@*

*@
@model POSDistribuidora.Domain.Models.Product
@{
}
<form method="post">
    <div class="mb-3">
        <label for="sku" class="form-label">SKU</label>
        <input type="text" class="form-control" id="sku" asp-for="Sku" placeholder="Sku">
    </div>

    <div class="mb-3">
        <label for="name" class="form-label">Product Name</label>
        <input type="text" class="form-control" id="name" asp-for="Name" placeholder="Product Name">
    </div>

    <div class="mb-3">
        <label for="description" class="form-label">Product Description</label>
        <input type="text" class="form-control" id="description" asp-for="Description" placeholder="Product Description">
    </div>

    <div class="mb-3">
        <label for="wholeSalePrice" class="form-label">Wholesale Price</label>
        <input type="number" step="0.01" class="form-control" id="wholeSalePrice" asp-for="WholeSalePrice" placeholder="Wholesale Price">
    </div>

    <div class="mb-3">
        <label for="retailPrice" class="form-label">Retail Price</label>
        <input type="number" step="0.01" class="form-control" id="retailPrice" asp-for="RetailPrice" placeholder="Retail Price">
    </div>

    <div class="form-check mb-3">
        <input type="checkbox" class="form-check-input" id="hasDiscount" asp-for="HasDiscount">
        <label class="form-check-label" for="hasDiscount">Has Discount</label>
    </div>

    <div class="mb-3" id="discount__amount_container">
        <label id="discount_amount" class="form-label">Discount Amount</label>
        <input type="text" class="form-control" id="discount_amount" placeholder="Discount Amount" />

    </div>

    <div class="form-check mb-3">
        <input type="checkbox" class="form-check-input" id="hasProductVariant" asp-for="HasProductVariant">
        <label class="form-check-label" for="hasProductVariant">Has Product Variant</label>
    </div>
    
    <div class="mb-3">
        <label id="unit_of_measure" class="form-label">Unit of Measure</label>
        <input type="text" class="form-control" id="unit_of_measure" placeholder="Unit of Measure" asp-for="ProductVariant.UnitOfMeasure" />

        <label id="conversion_factor" class="form-label">Conversion Factor</label>
        <input type="text" class="form-control" id="conversion_factor" placeholder="Conversion Factor" asp-for="ProductVariant.ConversionFactor"/>

        <label id="variant_price" class="form-label">Variant Price</label>
        <input type="text" class="form-control" id="variant_price" placeholder="Variant Price" asp-for="ProductVariant.Price" />

    </div>

    <div class="form-check mb-3">
        <input type="checkbox" class="form-check-input" id="canBeSoldByPackage" asp-for="CanBeSoldByPackage">
        <label class="form-check-label" for="canBeSoldByPackage">Can Be Sold By Package</label>
    </div>

    <div class="mb-3">
        <label for="unitsPerPackage" class="form-label">Units Per Package</label>
        <input type="number" class="form-control" id="unitsPerPackage" asp-for="UnitsPerPackage" placeholder="Units Per Package">
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
</form>


<script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
        crossorigin="anonymous"></script>

<script>
    $(document).ready(function () {
        const has_Product_Discount = $('#hasDiscount');
        const has_Product_Variant = document.getElementById("hasProductVariant");
        const can_Be_Sold_By_Package = document.getElementById("canBeSoldByPackage");
        const discount_amount_container = $('#discount__amount_container')


        discount_amount_container.hide();

        function toggleHasDiscountContainer(){
            if (has_Product_Discount.is(':checked')) {
                discount_amount_container.show();
            }
            else{
                discount_amount_container.hide();
                
            }
        }



        has_Product_Discount.on('change', function () {
            toggleHasDiscountContainer();
        });



    });

</script>